.env
config.js
nginx.conf
service-account.json

/mongo-db/
/mysql/

/ouranos-ws-data-model/
/data-models

/ouranos-ws-api-data-services-module-*.zip
/ouranos-ws-api-wot-module-*.zip
/ouranos-ws-api-dsc-module-*.zip

/ouranos-ws-api-data-services-module-*/
/ouranos-ws-api-wot-module-*/
/ouranos-ws-api-dsc-module-*/

/vendor/
